{% extends 'layout.html' %}

{% block pageTitle %}
Child Dependants Allowance
{% endblock %}


{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <h1>
        Learning Support Fund - Child Dependants Allowance
      </h1>

      <ol class="list list-number">
        <li><a href="#What">What you'll get</a></li>
        <li><a href="#Eligibility">Check your eligibility</a></li>
        <li><a href="#How">How to claim</a></li>
      </ol>

      <h2 id="What" class="heading-medium">What you'll get:</h2>
      <p>Eligible students attending a full time pre-registration healthcare course will be able to claim a set amount of £1,000.00 per academic year.</p>
      <p>This allowance will not affect your access to child support or other means of funding through your higher education provider or other sources.</p>
      <p>Payments will be made in three termly instalments:</p>
<ul class="list list-bullet">
        <li>term 1 - £250</li>
        <li>term 2 - £250</li>
        <li>term 3 - £500</li>
        </ul>


        <h2 id="Eligibility" class="heading-medium">Check your eligibility:</h2>
        <p>Child Dependants Allowance is available to new students who have parental responsibility for a child who is either:</p>
        <ul class="list list-bullet">
        <li>under the age of 15 years</li>
        <li>under 17 years if the child is registered with special educational needs</li>
          </ul>
        <p>Parental responsibility means someone who is either a parent or has the same legal rights, duties, powers and responsibilities as a parent for a child.</p>
        <p>This allowance will not affect your access to child support or other means of funding through your higher education provider or other sources.</p>



        <h2 id="How" class="heading-medium">How to claim</h2>
        <p>You need to apply for this service online.</p>
         
        <p>You might need to phone the service helpline if you struggle to apply for this service online.</p>
        
      <p>
        <a class="button button-start" href="../university" role="button">Start now</a>
      </p>
      
      <h2 class="heading-medium">What you need to apply</h2>
      <p>You’ll need:</p>
       <ul class="list list-bullet">
      <li>an email address</li>
      <li>a mobile phone number</li>
      <li>an address</li>
      <li>your National insurance number</li>
      </ul>
      <p>In addition you may need:</p>
      <li>the name of the DWP/HMRC benefits you receive</li> 
      <li>information about DWP/HMRC benefits you your partner or your carer receive</li>
      <li>if you are pregnant, the due date of your pregnancy</li>
      <li>if you have children, the children's names and dates of birth</li>
    </br>
      <p>If you do not provide the right information when you apply it might affect when you get your benefit or how much you get.</p>
      

    </div>  

  </div>
{% endblock %}